.kanban-card{
    min-width: 100%;
    min-height: fit-content;
    max-height: fit-content;
    opacity: 1;
    background-color: white;
    margin-top: 5px;
}

.editButton{
    margin-left: auto;
    margin-right: 8px;
    float: right;
}